html, body, h1, h2, h3, p, ol, ul, li, a, nav {

    font-family: Helvetica, 'Times New Roman', Arial, serif;
    
    
    
}

nav {

}

a{
    text-decoration: none;
    color: white;
    padding: 1em;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
}
body {
    background-color: rgba(255, 132, 101, 0.877);
    margin: 0;
    padding: 0;
}

.side-nav {
    width: 150px;
    height: 100%;
}

.side-nav ul {
   list-style-type: none;
   padding: 0;
    
}

.side-nav ul li {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.side-nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.side-nav ul li a:hover {
    background-color: #444;
}


header {
   text-align: center;
}



